/* Default background color for structural elements */
header,
footer,
aside,
nav {
  background-color: #dea7a7;
}

/* Default font family, size and color for headings and paragraphs */
h1,
p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #6a0b14;
  font-weight: 200;
}
h2 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #3850c7;
}
h3 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #3850c7;
}
h4 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 5cqmax;
  color: #3850c7;
}

/* Pseudo-styles for links */
a:link {
  color: #01070e;
  text-decoration: none;
}

a:visited {
  color: #663399;
}

a:hover {
  color: #ff6600;
  text-decoration: underline;
}

/* Styles for a class */
.my-class {
  font-weight: bolder;
}

/* Styles for a table */
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 10px solid #22b0ab;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #a8c1e3;
  color: #6a0b14;
}
td {
  background-color: #a8c1e3;
}

/* Styles for a list */
ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #6a0b14;
}

/* Styles for a form */
input[type="text"],
select {
  padding: 12px;
  border: 12px solid #2c6bbc;
  border-radius: 10px;
}

/* Embedded style for an element with an id */
#my-element {
  font-size: 20px;
  color: rgb(102, 105, 190);
}
